@font-face
{
    font-family:'ms98';
    src: url('../content/ms98.ttf');
}

:root {
    --color-border: #41596c;
    --color-commandline: #9ca49e;
    --color-bg: rgba(46,87,143,255);
    --color-topbar: #e08e63;

    --color-text: #c7a188;
    --color-text-hl: var(--color-border);
    --color-main-bg: #1d242a;
    --top-text-color: rgba(248, 231, 231, 0.973);
    --commandline-text-color: rgba(248, 231, 231, 0.973);

    --background-picture: url("../content/melancholic2_edit.png");
    --side-picture: url("../content/skyline.gif");
}

div {
    background-color: var(--color-main-bg);
    color: var(--color-text);
}

a {
    color: var(--color-text);
}
a:hover {
    text-decoration: none;
    color: #52cbbf;
}

#top-level-container {
    position: absolute;
	top: 0px;
	bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: var(--background-picture);
    background-size: 100% auto;
    background-position-y: -50px;
    /* background: var(--color-bg); */
    /* background: linear-gradient(0deg,
                rgba(2,0,36,1) 0%,
                rgba(45,45,157,1) 70%,
                rgb(0, 137, 165) 100%); */
}

#main-content {
    font-family: "ms98";
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50%;
    width: 50%;
    border-style: ridge;
    border-color: var(--color-border);
    border-width: thick;
    letter-spacing: 3px;
}

.top-bar {
    font-weight: bold;
    background-color: var(--color-topbar);
    font-size: 8;
    color: var(--top-text-color);
}

#top-bar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    letter-spacing: 3px;

    border-style: ridge;
    border-width: 0px 0px 5px 0px;
    border-color: var(--color-border);
}

#quote {
    order: 1;
    padding-left: 3px;
}

#clock {
    order: 2;
    padding-right: 3px;
}

#links-image-command-line {
    width: 100%;
    height: auto;
    flex-grow: 1;
    display: flex;
}

#links-and-command-line {
    display: flex;
    flex-direction: column;
}

#command-line {
    width: 100%;

    border-style: ridge;
    border-color: var(--color-border);
    border-width: 0px 0px 5px 5px;

    background-color: var(--color-commandline);

    color: var(--commandline-text-color);

    letter-spacing: 3px;
    padding-left: 3px;
}

#command-line:focus {
    outline: none;
    caret-color: var(--color-text);
}

#command-line-box {
    padding: 0px;
    background-color: var(--color-commandline);
}

#side-image-box {
    height: 100%;
    width: 38%;
    background-image: var(--side-picture);
    background-size: cover;
    background-position: 40%;
}

/* #side-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

#links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    height: max-content;

    border-style: ridge;
    border-color: var(--color-border);
    border-width: 0px 0px 0px 5px;
}

.category {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding-bottom: 5px;
    padding-top: 5px;
    align-content: center;
    justify-content: center;
}

.title-div {
    width: 100%;
    order: 1;
    font-weight: bold;
    height: min-content;
    align-items: baseline;
    text-align: center;
    font-size: large;
}
.link-div {
    order: 2;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

/* The following section is not really my work, I found these glitchy effects
   on this website: https://al1-ce.neocities.org/
*/
/* Animations */

.glowtext { animation: titleAnim 5s infinite; }
@keyframes titleAnim{
	50%{
		color: var(--color-main-bg);
		text-shadow:var(--color-border) 1px 4px 5px;
	}
}

#scanlines {
    background-image: url("../content/scanlines.png");
    background-repeat: repeat;
    position:absolute; top: 0px; left: 0px;
    width: 100%; height: 100%; z-index:9999;
    animation: scanAnim 0.6s infinite;
    animation-timing-function: linear;
    pointer-events: none;
    background-color: transparent;
  }

  @keyframes scanAnim {
      0% {
          background-position: 0px 0px;
      }
      100% {
          background-position: 0px 8px;
      }
  }